{%if 'username' not in session%}
     {% extends "layout.html" %}
{%else%}
     {% extends "loginlayout.html" %}
{% endif %}



{% block content %}

 <html>
  <head>
	  <script src="https://mylightningdomaintrainee-dev-ed.lightning.force.com/lightning/lightning.out.js"></script>
	
    <title> Title </title>
  </head>
  
<style>
.button {
    background-color: #4CA050;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
</style>

   {% if error %}
      <p style="color:red"><strong>Error:</strong> <b>{{ error }}</b>
      {% endif %}
	  {% if logout %}
      <p style="color:Blue"><strong></strong> <b>{{ logout }}</b>
      {% endif %}
	  {% if success %}
      <p style="color:Blue"><strong></strong> <b>{{ success }}</b>
      {% endif %}
  <body> 
  {% with messages = get_flashed_messages() %}
         {% if messages %}
            <ul>
               {% for message in messages %}
               <li><{{ message }}</li>
               {% endfor %}
            </ul>
         {% endif %}
      {% endwith %}
    <div class="jumbo">
	
    <h2>Welcome to the SFPY app<h2>
    <h3>This is the home page for the SFPY app<h3>
	 <div >
        <p>Sales Leaderboard On Heroku</p>
        <div id="leaderboard"></div>
          </div>
  </div>
	    
  <form  method="post" align="center" > 
	  <input type="submit" value="ConnectToSalesforce" class="button"  />
	  
	 </form>
	    {{instance_url}}----{{access_token}}
	   
      <script>  
		alert('entered');
          var url = {{ instance_url|tojson }};
          url=url.replace("my.salesforce", "lightning.force");
          var token = {{ access_token|tojson }};
	      alert('entered '+url);
          console.log(token);
            $Lightning.use("c:helloApp", function() {
                  $Lightning.createComponent("c:helloCmp", {},
                     "leaderboard",
                      function(cmp) {
					  alert('cmp');
                         // do some stuff
                      });
            },"https://mylightningdomaintrainee-dev-ed.my.salesforce.com/",token );
        </script>
	   
	
       
        
	
  </body>
</html>
  

{% endblock %}
