{%if 'username' not in session%}
     {% extends "layout.html" %}
{%else%}
     {% extends "loginlayout.html" %}
{% endif %}
  
{% block content %}
 <html>
	<head>
	
<script src="https://mylightningdomaintrainee-dev-ed.lightning.force.com/lightning/lightning.out.js"></script>
		<script>
		
		/*var access_token = {{ access_token|tojson }};
			alert('enetred to test');
			if(!access_token)
			{ 
				alert("Login to Salesforce First!!!");
			}else{
				alert('logged in');
				$Lightning.use("c:helloApp",    // name of the Lightning app
				function() {                  // Callback once framework and app loaded
					$Lightning.createComponent(
						"c:helloCmp", // top-level component of your app
						{ },                  // attributes to set on the component when created
						"lightningLocator",   // the DOM location to insert the component
						function(cmp) {
						alert('cmp entere');
							// callback when component is created and active on the page
						}
					);
				},
				'https://mylightningdomaintrainee-dev-ed.my.salesforce.com/',  // Community endpoint
				access_token
			);
			}*/
		</script>
		</head/>
		
		
<body >
    <header>
    </header>
    <main>
      <div >
        <p>Sales Leaderboard On Heroku</p>
        <div id="leaderboard"></div>
          </div>
      </main>
        <footer>
        </footer>
        <script>
		alert('entered');
          var url = {{ instance_url|tojson }};
		  url=url.replace("my.salesforce", "lightning.force");
          var token = {{ access_token|tojson }};
          console.log(token);
            $Lightning.use("c:helloApp", function() {
                  $Lightning.createComponent("c:helloCmp", {},
                     "leaderboard",
                      function(cmp) {
					  alert('cmp');
                         // do some stuff
                      });
            },"https://mylightningdomaintrainee-dev-ed.my.salesforce.com/",token );
        </script>
</body> 
		

	
</html>
{% endblock %}