<!DOCTYPE html>
<html>
  <head>
    <title>SFPY</title>    
    <strong><link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"></strong>
  </head>
  <body>
   <header>
  <div class="container"> 
    <h1 class="logo">SFPY App</h1>
    <strong><nav>
      <ul class="menu" >
         <li><a href="{{ url_for('home') }}"><font style="color:#33FF42"><u>Home</u></font></a></li>
         <li><a href="{{ url_for('about') }}"><font style="color:#FFE333"><u>About</u></font></a></li>
		 <li><a href="{{ url_for('accounts') }}"><font style="color:#ff22cc"><u>SFDC</u></font></a></li>
		  <li><a href="{{ url_for('logout') }}"><font style="color:#A5FF33"><u>Logout</u></font></a></li>
		  
      </ul>
    </nav></strong>
	{%if 'username'  in session%}
     

    <marquee><font face="verdana" color="green"  size="3">{{session['username']}}</font></marquee>
{% endif %}
  </div>
  
</header>
     
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body>
</html>