{%if 'username' not in session%}
     {% extends "layout.html" %}
{%else%}
     {% extends "loginlayout.html" %}
{% endif %}
  
{% block content %}
 <html>
  <head>
	  <script src="https://mylightningdomaintrainee-dev-ed.my.salesforce.com/lightning/lightning.out.js"></script>

    <title> Title </title>
	
	<style>
.button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 2px 1px;
    cursor: pointer;
}
</style>
  </head>
  
  <script>
	function handleChanges(chdEle){
		console.log("--------chdEle------"+chdEle);
		console.log("--------chdEle-Id-----"+chdEle.id);
		var inpIdFull = chdEle.id;
		var rowIndex = inpIdFull.split()[0];
		console.log("-------rowIndex----"+rowIndex);
		
		var nameEleId = rowIndex+"Name";
		var nameEleId = rowIndex+"LastName";
		console.log("fdgdfgdfgdf"+document.getElementById(chdEle.id).value);
		
	}
	function updateSFDC(row){
	//document.getElementById(row.)
	var rowno=row.id;
	//alert('allow'+rowno);
	
	//\
	alert(rowno +' Row updation In progress');
	//handleChanges(rowno)
	
	}
  </script>
   {% if error %}
      <p style="color:red"><strong>Error:</strong> <b>{{ error }}</b>
      {% endif %}
  <body  "> 
	   <nav role="navigation" class="navbar navbar-default">
      <div class="container-fluid">

        <div class="navbar-header">
          <button type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" class="navbar-toggle">
            <span class="sr-only">
              Toggle navigation
            </span>
            <span class="icon-bar">
            </span>
            <span class="icon-bar">
            </span>
            <span class="icon-bar">
            </span>
          </button>
          <a href="http://JitendraZaa.com/blog" class="navbar-brand">
           <span class="glyphicon glyphicon-cloud" style="vertical-align : middle" ></span> Salesforce Lightning Out Demo
          </a>
        </div> 
       
      </div>
    </nav> 

	<div id="lexcontainer"> 
	</div>
  {% with messages = get_flashed_messages() %}
         {% if messages %}
            <ul>
               {% for message in messages %}
               <li><{{ message }}</li>
               {% endfor %}
            </ul>
         {% endif %}
      {% endwith %}
    <div class="jumbo">
	<form  method="post" align="center">
	</br></br>
	query: &nbsp;&nbsp; <input type="text" name="user" placeholder="select Id,firstname,lastname from contact"/>&nbsp;&nbsp;
	<input type="submit" value="getRecords"/> 
	
	 <p style="color:blue"><strong></strong> <b>{{ records }}</b>
	 <div>
   <table class = "table" align="center">
     
     <h1> <caption>
	 {% for r in recs %}{% for key,value in r.items() if loop.first%}
	  {% if key=='attributes' %}{{value.type}}
	  {%endif%}{% endfor %}{% endfor %}
	  Table </caption></h1>
	 
	  <tr>
	  <th>ROW</th>
	  {% for  r in recs %}{% for key,value in r.items() if loop.first%}
	  {% if key!='attributes' %}
	  
	  <th>{{key}}</th>{%endif%}{% endfor %}{% endfor %}</tr>
	  {% for r in recs %}
	  {% set rowno = loop.index%}
	  <tr>
	  
	  <td>{{loop.index}}</td>
		{% for key, value in r.items() %}
		{% if key!='attributes' %}<td><input type="text" id="{{rowno}}{{key}}"  onchange="handleChanges(this);" value="{{value}}" name="aname"/></td>{%endif%}{% endfor %}
	  <td><input type="button" id="{{rowno}}"  value="update" name="aname" class="button"  onclick="updateSFDC(this);" /></td>
	  </tr>
	{% endfor %}
		
	</table>
	</div>

	</div>
	      <div id="lexcontainer" />
	      {{instance_url}}---{{access_token}}
	       </body>
<script>
	var _lightningReady = false;
	var instance_url = {{ instance_url|tojson }};
	instance_url=instance_url.replace("my.salesforce", "lightning.force");
	  var access_token = {{ access_token|tojson }};
if(!access_token)
{ 
    alert("Login to Salesforce First!!!");
}else{
					alert('logged in')
	createChatterFeed();
}
function setupLightning(callback) {
	var appName = "c:LightningOutApp";
	 
	if (_lightningReady) {
		if (typeof callback === "function") {
			callback();
		}
	} else {
	    // Transform the URL for Lightning
	    var url = instance_url;
		//url = url.replace("my.salesforce", "lightning.force");
	    $Lightning.use(appName, 
	        function() {
				_lightningReady = true;
				document.getElementById("lexcontainer").style.display = "";
				if (typeof callback === "function") {
					callback();
				}
	        }, "https://mylightningdomaintrainee-dev-ed.my.salesforce.com", access_token);
	}
}
function createChatterFeed() {
								  alert('chatfeed')
    setupLightning(function() {
		$Lightning.createComponent("c:Lookup", {objectName="Product2",
                          field_API_text="Name",
                          field_API_val="Id",
                          limit="4",
                          field_API_search="Name",
                          lookupIcon="standard:product" ,                          
                          placeholder="Enter text to search Products"}, "lexcontainer"); 
    });
}
	
</script>
 <style type="text/css"> 
 
     html,body{width:100%;height:100%;} 
	 
	.slds-scope:not(html), .slds-scope body, .slds-media__body, .forceChatterStyle .cuf-preamble, .cuf-subPreamble .slds-text-body--small, .slds-post__footer {
		font-size: 1.0rem !important; 
	}	 
 </style>
	
 
 <script src="https://mylightningdomaintrainee-dev-ed.my.salesforce.com/lightning/lightning.out.js"></script>
</html>
{% endblock %}
